  <p><%= f.label :given_name %><br />
  <%= f.text_field :given_name %></p>

  <p><%= f.label :surname %><br />
  <%= f.text_field :surname %></p>

  <p><%= f.label :email %><br />
  <%= f.email_field :email %></p>

  <p><%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
  <%= f.password_field :password %></p>

  <p><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></p>

